{% from '_includes/_defaults.html' import USE_SHORTCUT_ICONS with context %}
{% if USE_SHORTCUT_ICONS == True %}
        <link rel="shortcut icon" href="{{ SITEURL }}/images/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="{{ SITEURL }}/images/favicon-16x16.png" type="image/png" />
        <link rel="shortcut icon" href="{{ SITEURL }}/images/favicon-32x32.png" type="image/png" />
        <link rel="shortcut icon" href="{{ SITEURL }}/images/android-chrome-192x192.png" type="image/png" />
        <link rel="shortcut icon" href="{{ SITEURL }}/images/android-chrome-512x512.png" type="image/png" />
        {# Safari on iOS #}
        {# See https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html #}
        <link rel="apple-touch-icon" href="{{ SITEURL }}/images/apple-touch-icon.png"  type="image/png" />
{% endif %}
